.projects {

}

.project-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.project-intro span:first-child {
    font: var(--headline5);
}
.project-intro span:nth-child(1) {
    font: var(--headline5);
    font-weight: normal;
    
}

.project-intro span:nth-child(2) {
    font: var(--headline5);
}

.project-intro img {
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width:768px) {
    .project-intro {
        display: flex;
        flex-direction: column;
        padding-block-start: 200px;
        padding-block-end: 200px;
        padding-inline-start: 115px;
        padding-inline-end: 115px;
        inline-size: auto;
        text-align: center;
        justify-content:stretch;
    }

    .project-intro span:nth-child(1) {
        font: var(--headline4);
        font-weight: normal;
        
    }
    
    .project-intro span:nth-child(2) {
        font: var(--headline5);
    }
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-top:40px;
    margin-bottom:80px;
    border-radius: 24px;
    border: 4px solid transparent;
    background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 0, 0, 0)) padding-box, /*this is your grey background*/
     linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) border-box;
}

.comment img {
    margin: auto;
}

.comment-text {
    font: var(--body1);
    font-weight: bold;
}

.comment-author {
    font: var(--caption);
    opacity: 0.5;
} 

@media screen and  (min-width: 768px) {
    .comment {
        margin-top:80px;
        margin-bottom:80px;
    }
    .comment-text {
        font: var(--headline4);
        font-weight: normal;
        text-align: center;
    }

    .comment-author {
        font: var(--headline5);
        text-align: center;
    } 
}